.divBtnAgregar {
  width: 100vw;
  max-width: 400px;
  box-sizing: border-box;
  text-align: center;
  padding: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1),
    -10px -10px 20px rgba(253, 250, 250, 0.1);
  border-radius: 10px;
}
.btnAgregar {
  color: var(--texto);
  font-size: 56px;
}
