.divBtnAgregar {
  width: 85%;
  max-width: 400px;
  box-sizing: border-box;
  text-align: center;
  padding: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1),
    -10px -10px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin: 20px 0 0;
}
.btnAgregar {
  color: var(--texto);
  font-size: 56px;
}
.contenidoModal {
  display: flex;
  flex-direction: column;
  align-items: center;
}
